/* .signin{
    margin: auto ;
    display: block ;
    margin-top: 25px ;
    width: 100px;
    border-radius:8px ;
}
.container{
    position: relative;
    top: 70px;
    background-color: purple;
    width: 50%;
    height: 70vh;
    
}
#inputEmail4,#inputPassword4{
    color: #FFFF;
    width: 40%;
    margin: auto;
    display: block;
}

.passwordz,.emailz{
    
    text-align: center;
    
}
.g-3{
    padding: 20px;
} */




